.header {
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
	backdrop-filter: blur(10px);
}

.header:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
	margin: -20px;
}